$color_black : rgb(54,54,54);
$color_gray : rgb(247,247,247);
$color_white: rgb(255,255,255);
$color_or: rgb(245,189,16);
$color_border: rgb(225,225,225);
$color_p-gray: rgb(205,205,205);
$color_bg-menu : rgb(32,32,32);
$color_slide: rgb(245,245,245);
$color_list:rgb(137,137,137);
$color_black_bt : rgb(37,37,37);
$color_banner_2 : rgb(238,238,238);
$color_about: rgb(97,97,97);

$font_small:14px;
$font_13:13px;
$font_medium:16px;
$font_w600:600;
$font_large:30px;
$font_super:48px;
$font_18:18px;
$font_w1000:1000;
$font_toogle:24px;
$font_price:20px;
$font_tiny:12px;
$font_w700:700;


$width_50: 50px;

$pixel_15 :15px;
$pixel_150:150px;
$pixel_50:50px;
